.headerDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .secondHalf {
    display: flex;
    justify-content: center;
    align-items: center;
    .mainImg {
      width: 7rem;
      display: block;
      object-fit: cover;
    }
  }
}
