.middleSection {
  width: 100%;
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  flex-direction: column;
}

.citiesCardsContainer {
  display: flex;
  gap: 1.64rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.cityCard {
  background: var(--secondary-color);
  /* width: 400px; */
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    width: 100px;
    text-align: center;
  }
}

.cityCardSkeleton {
  height: calc(100px + 32px);
  width: calc(32px + 464.203px);
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer {
  display: flex;
  gap: 10px;
}

.showBtn,
.removeBtn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: white;
  background: blue;
}
