.appContainer {
  padding: 1rem;
  background: var(--primary-color);
  min-height: 100vh;
}
.homeContainer {
  display: flex;
  gap: 1rem;
}

section {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todaysForcast {
}

.airCondition {
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 1rem;

  .seeMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: yellow;

    button {
      background: blue;
      border: none;
      padding: 0.5rem;
      border-radius: 10px;
    }
  }

  .cardContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 1rem;
    background: var(--primary-color);
    border-radius: 10px;
    min-width: 100px;

    .cardItem {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .cardItemDetails {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
