.appContainer {
  padding: 1rem;
  background: var(--primary-color);
  min-height: 100vh;
}
.homeContainer {
  display: flex;
  gap: 1rem;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fiveDaysForecastContainer {
  width: 40%;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1.5rem;

  .forecastCardsContainer {
    margin-top: 1rem;
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .forecastCard:last-child {
    border: none;
  }

  .forecastCard {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--card-border);

    span {
      width: 60px;
      text-align: center;
    }

    .forecastImageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        width: 70px;
      }

      p {
        width: 70px;
      }
    }
  }
}
