.appContainer {
  padding: 1rem;
  background: var(--primary-color);
  min-height: 100vh;
}
.homeContainer {
  display: flex;
  gap: 1rem;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
