.homeContainer {
  padding: 1rem;
  background: var(--primary-color);
  min-height: 100vh;
  color: white;

  display: flex;
  gap: 1rem;
}

.middleSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
